/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 60px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;  /* 1 rem = 16px (default) */
}

#navbar ul li a{
    color: white;
    
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('https://img.freepik.com/free-vector/perspective-japanese-street-neon-lights_52683-44988.jpg?size=626&ext=jpg&ga=GA1.2.1467376878.1659545820') no-repeat center center/cover;
    height: 642px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:1;
}


#home h1{
    color: rgba(4, 245, 32, 0.991);
    text-shadow: 8px 8px 8px black;
    text-align: center;
    font-family: 'Bree Serif', serif;
}


#home p{
    color:white;
    text-shadow: 8px 8px 8px black;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/* Services Section */
#services{
    margin: 34px;
    display: flex;}

    #services-container h1{
        color: rgb(245, 71, 71);
        text-shadow: 2px 2px 2px rgb(2, 2, 1);
    }

    #services-container::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 960px;
        z-index: -1;
        opacity: 0.9;
        background: url('http://wallpapersmug.com/download/2560x1440/781f69/fantasy-flying-city-dark-art.jpg') no-repeat center center/cover;}

         @media (min-width: 690px) and (max-width: 768px)
        {#services-container::before
            {
                height: 1300px;
              }
              
         }
         @media (min-width: 1000px) and (max-width: 1170px)
         {#services-container::before
            {
                height:1150px ;
              }
              
         }
         @media (min-width: 900px) and (max-width: 1000px)
         {#services-container::before
            {
                height:1200px ;
              }
              
         }
         @media (min-width: 850px) and (max-width: 900px)
         {#services-container::before
            {
                height:1250px ;
              }
              
         }
         @media (min-width: 800px) and (max-width: 850px)
         {#services-container::before
            {
                height:1270px ;
              }
              
         }
         @media (min-width: 768px) and (max-width: 800px)
         {#services-container::before
            {
                height:1280px ;
              }
              
         }
     @media (max-width: 480px)
         {#services-container::before
            {
                height:1000px ;
              }
              
         }@media (min-width: 480px) and (max-width: 690px)
         {#services-container::before
            {
                height:0px ;
              }
              
         }
#services .box{ 
    
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #fbdfc9;
    box-shadow: 10px 10px 20px rgb(240, 70, 70);
    
    
}

#services .box:hover{
    background-color:#ebbe97 ;
}

#services .box img{ 
   height: 130px;
   margin: auto;
   display: block;
}

#services .box p{
    font-family: 'Bree Serif', serif;

} 

/* Clients Section */
#client-section{ 
    position: relative;
    margin-bottom: 10px;
}

#client-section h1{
    text-shadow: 1px 1px 1px rgb(58, 67, 239);
}

#client-section::before{
 content: "";
 position: absolute;
 background: url('https://wallpapertag.com/wallpaper/full/d/9/8/128488-dark-anime-background-scenery-1920x1129-hd-for-mobile.jpg');
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.7;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 124px;
}


/* Contact Section */
#contact{
    position: relative;
}
#contact h1{
    color: chartreuse;
    text-shadow: 2px 2px 2px black;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
    background: url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/glow-in-the-dark-telephone-booth-aimee-l-maher-photography-and-art-visit-almgallerydotcom.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box input:hover, 
#contact-box textarea:hover{
    background-color: rgb(212, 247, 201);
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    color: chartreuse;
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}


footer{
    background: black;
    color: white;
    padding: 15px 20px;
}
footer:hover{
    color: red;
}

/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
    animation-name: Welcome;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
@keyframes Welcome {
    from {
          width: 400px;
    }
    to {
          width: 1200px;
    }
    
  }
.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 1px solid rgb(248, 219, 7);
    background-color: rgb(4, 4, 4);
    color:orange;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
}

.btn:hover{
    background-color: orange;
    color: black;
}

.center{
    text-align: center;
}
